body{
  font-size: 16px;
  color: #fff;
  background-color: #3285f1;
  font-family: 'Oxygen', san-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1{
  font-family: 'Oxygen', san-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list{
  background-color: rgb(252, 152, 38);
  color: rgb(255, 255, 255);
  text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #3baaeb;
}

#main-content{
  background-color: #0146a0;
}

section{
  text-align: center;
  padding: 10px;
}

p{
  padding: 10px;
  top: 10px;
}

p.text-center{
  font-size: 1.25em;
}

.container-fluid{
  margin-left: 10px;
  margin-right: 10px;
}