body{
  font-size: 16px;
  color: #fff;
  background-color: #3285f1;
  font-family: 'Oxygen', san-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar{
  margin-bottom: 0px;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1{
  font-family: 'Oxygen', san-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list{
  background-color: rgb(252, 152, 38);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
}

#nav-list li{
  border: 1px solid #f6b319;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #3baaeb;
}

#main-content{
  margin-right: 5px;
}

#menu-tiles{
  background-color: #0146a0;
}

h3{
  padding: 0px;
  font-size: 1.10em;
  font-weight: bold;
  color: black;
}

p{
  padding: 10px;
  top: 10px;
  margin-bottom: 0px;
}

p.text-center{
  font-size: 1.25em;
}

.container-fluid{
  margin-left: 10px;
  margin-right: 10px;
}

.col-md-4{
  padding-left: 5px;
  padding-right: 5px;
  border: 10px solid #3285f1;
}

.back-to-top{
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
}

.back-to-top a{
  color: black;
}